
.navbar-inner {
  min-height: 60px;
  padding-right: 40px;
  padding-left: 20px;
  background-color: transparent;
  background-image: none;

  }
  
 body {
 background-image: url(zen-birds-twitter-background.jpg); 
 padding-top: 60px; 
 }